.form-input {
   padding: 1rem;
   width: 100%;
   color: var(--text-clr);
   background-color: transparent;
   border-radius: 1rem;
   border: 0;
   outline: 2px solid var(--text-clr);
}

.search-form,
.form-box {
   width: 100%;
}
