*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 10px;
   font-family: sans-serif;
}

ul {
   li {
      list-style: none;
   }
}

a,
button {
   color: var(--black);
   @media (width >= 768px) {
      cursor: pointer;
   }
}

a {
   text-decoration: none;
   opacity: 0.7;
}

button {
   background-color: transparent;
   border: 0;
}

.hero-container,
.search-list-container {
   &::-webkit-scrollbar {
      width: 8px;
      background-color: var(--content-bg);
   }

   &::-webkit-scrollbar-thumb {
      background-color: var(--header-bg);
   }
}
